<ion-view>
<ion-content overflow-scroll="false">
<div class="list padding">
<div class="item item-body" style="text-align: justify;text-justify: inter-word;">
<h1>Makaryo ver 1.0</h1>
<p>Author: Mahdi Ridho</p>
<br>
<p>Aplikasi ini dibuat dengan tujuan sederhana yaitu sebagai media penyampaian informasi pekerjaan 
	<span style="font-style:italic;">part-time</span> harian. Pengguna yang membutuhkan tenaga kerja 
	harian bisa menampilkan informasinya pada aplikasi ini secara gratis. Beberapa pekerjaan yang 
	bisa dimuat adalah bersifat harian (sesaat) dan tidak tetap, misalnya :</p>
<li>Mengecat rumah</li>
<li>Membersihkan halaman</li>
<li>Memotong rumput halaman</li>
<li>Memperbaiki saluran air</li>
<li>Memperbaiki atap rumah</li>
<li>Mengantar ke stasiun</li>
<li>Titip belanja ke pasar</li>
<li>Angkut dan pindahan barang</li>
<li>Mengantar ke suatu lokasi</li>
<li>Mencuci dan merapikan pakaian</li>
<li>dan pekerjaan sejenis lainnya</li>
<br>
<p>Selanjutnya informasi pekerjaan yang sudah tersimpan, akan tampil pada halaman lain dimana semua pengguna bisa melihat 
	informasi terkait di antaranya :</p>
<li>Judul pekerjaan</li>
<li>User yang memuat informasi</li>
<li>Lokasi pekerjaan</li>
<li>Tanggal informasi dimuat</li>
<li>Nomer telepon</li>
<li>Nomer whatsapp (bila ada)</li>
<li>Peta lokasi</li>
<br>
<p>Informasi pekerjaan yang dimuat pada aplikasi selalu update dan hanya tersimpan selama 2 hari dari tanggal dimuat. Misalkan 
	informasi dimuat pada tanggal 1 April 2016, maka informasi tersebut hanya akan tampil dari tanggal 1 April - 2 April 2016. 
	Regulasi dibuat demikian, karena fokus informasi pekerjaan yang dimuat bersifat harian / sesaat / temporary / tidak tetap.</p>
<p>Mari muat informasi pekerjaan disini secara bebas dan gratis. Mudah-mudahan bisa membantu mengurangi tingkat pengangguran.<p>
<h3>Salam MAKARYO!</h3>
</div>
</div>
</ion-content>
</ion-view>