<ion-view>
	<button class="button button-block button-calm" ng-click="goPage('jobinfo')" ng-style="btnFind" style="position:absolute;margin-top:0;height:50% !important;">
	<h2 style="color:#fff;"><i class="ion-settings" style="font-size:50px;"></i><br>Info<br>Kerjaan</h2>
	</button>
	<button class="button button-block button-assertive" ng-click="goPage('userform')" ng-style="btnPost" style="position:absolute;margin-bottom:0;bottom:0;height:50% !important;">
	<h2 style="color:#fff;"><i class="ion-person-stalker" style="font-size:50px;"></i><br>Pemberi<br>Kerja</h2>
	</button>
	<button class="button button-dark" ng-click="goPage('help')" ng-style="btnHelp" style="width:100px;height:100px;border-radius:50%;border:5px solid #fff;position:absolute;top:50%;left:50%;margin-top:-50px;margin-left:-50px;">
	<h2 style="color:#fff;"><i class="ion-help" style="font-size:50px;"></i></h2>
	</button>
</ion-view>